# Secrets etc
**/.cert
app.yaml
.config/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build, test, internal stuff
coverage.txt
/hack/
bin/
stuff.md
lint.txt

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Other unwanted files
.DS_Store